<h3>
    Expand URL
</h3>

<form method="GET" action="/expand">
        Enter a shortened URL:<br>
		<input type="text" name="shortenedUrl"><br>
        <input type="submit" value="Expand Url">
</form> 

<p>
{{ output }}
</p>