<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/css/main.css'>
  <title> URL Shortener </title>
</head>
<body>
    <header> 
      <h1>
      <img src='/img/logo.png' width="600" height="350">
      </h1>
    <nav>
      <ul>
      <li><a href="http://localhost:3000/"> TRENDING URLS </a></li>
      <li><a href="http://localhost:3000/shorten"> SHORTEN URL </a></li>
      <li><a href="http://localhost:3000/expand"> EXPAND URL </a></li>
      </ul>
  </header>
{{{body}}}
</body>
</html>