<h3>
    Shorten URL
</h3>

<form method="POST" action="/shorten">
        Enter a URL:<br>
		<input type="text" name="longInputURL"><br>
        <input type="submit" value="Shorten Url">
</form>

<p>
    {{ output }}
</p>